.App {
  text-align: center;
}

.input {
  padding: 0.3rem;
  margin: 1rem;
  width: 40vw;
  font-family: "Courier New", Courier, monospace;
}

.balance {
  font-family: "Courier New", Courier, monospace;
}

.btn {
  padding: 0.3rem;
  font-family: "Courier New", Courier, monospace;
}

.amt {
  display: inline;
  font-size: 1.3rem;
  font-weight: bold;
}

.date {
  font-style: italic;
  color: rgb(112, 112, 112);
  margin-right: 2rem;
  text-decoration: underline;
}

.div {
  margin-top: 1rem;
}

.alert {
  color: red;
  font-family: "Courier New", Courier, monospace;
  text-transform: uppercase;
  font-style: italic;
}
